.header {
  top: 17px;
  max-width: var(--max-width-container);
  width: 100%;
  height: var(--height-header);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  .header__icons {
    gap: 30px;
    .svg-wrapper {
      color: var(--white-cl);
      text-transform: uppercase;
      font-size: 1.4rem;
    }
    .header__icon-search {
      position: absolute;
      left: -30px;
      top: 0;
    }
    .header__icon-bag {
      padding-right: 23px;
    }
  }
  .menu-drawer-container {
    padding-left: 10px;
    .header__icon {
      display: flex;
      gap: 21px;
      .svg-wrapper {
        color: var(--white-cl);
        text-transform: uppercase;
        font-size: 1.4rem;
      }
    }
  }
}
